ADMIN_INVITE_KEY=your_admin_invite_key
PORT=5000
NODE_ENV=development
APP_URL=your_frontend_url
MONGO_URI=your_mongodb_connection_string
JWT_SECRET=your_jwt_secret
JWT_EXPIRE=30d

MAGIC_LINK_TOKEN_EXPIRE=1800000

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your_email@gmail.com
MAIL_PASS=your_email_password
MAIL_FROM=your_email@gmail.com

BLOCKCHAIN_RPC_URL=your_blockchain_rpc_url
BLOCKCHAIN_PRIVATE_KEY=your_private_key


# reCAPTCHA v3 Keys
RECAPTCHA_SITE_KEY=your_recaptcha_site_key
RECAPTCHA_SECRET=your_recaptcha_secret

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
